name: main
on:
  push:
concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true
jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v3
    - uses: pre-commit/action@v3.0.0
  test:
    name: test
    runs-on: ubuntu-latest
    container: golang:1.25-alpine3.23
    steps:
    - uses: actions/checkout@v5
    - name: Test
      run: |
        go test ./...
  build:
    name: build
    runs-on: ubuntu-latest
    container: golang:1.25-alpine3.23
    strategy:
      matrix:
        include:
          - os: darwin
            arch: arm64
            suffix: ''
          - os: darwin
            arch: amd64
            suffix: ''
          - os: linux
            arch: arm64
            suffix: ''
          - os: linux
            arch: amd64
            suffix: ''
          - os: windows
            arch: amd64
            suffix: .exe
    steps:
      - uses: actions/checkout@v5
      - name: Build
        run: |
          GOOS=${{ matrix.os }} GOARCH=${{ matrix.arch }} go build -o . ./...
        shell: sh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/upload-artifact@v5
        with:
          name: wpm-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.suffix }}
          path: wpm${{ matrix.suffix }}
          if-no-files-found: error
  create-release:
    name: Create Release
    needs:
      [pre-commit, test, build]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    outputs:
      upload_url: ${{ steps.create_release.outputs.upload_url }}
    steps:
      - uses: actions/checkout@v5
      - uses: ncipollo/release-action@v1
        with:
          generateReleaseNotes: true
  release-artifacts:
    name: Release Artifacts
    needs:
      [create-release]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - os: darwin
            arch: arm64
            suffix: ''
          - os: darwin
            arch: amd64
            suffix: ''
          - os: linux
            arch: arm64
            suffix: ''
          - os: linux
            arch: amd64
            suffix: ''
          - os: windows
            arch: amd64
            suffix: .exe
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    steps:
      - uses: actions/download-artifact@v5
        with:
          name: wpm-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.suffix }}
      - name: Upload Release Asset - ${{ matrix.os }}-${{ matrix.arch }}
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ needs.create-release.outputs.upload_url }}
          asset_path: ./wpm${{ matrix.suffix }}
          asset_name: wpm-${{ matrix.os }}-${{ matrix.arch }}${{ matrix.suffix }}
          asset_content_type: application/octet-stream
